<% layout('/layouts/boilerplate') %> 
<div class="container">
   <div class="alert alert-danger" role="alert">
           <div class="row">
               <div class="col-12 text-center">
                   <div class="h1">
                       Error: <%= err.message%> 
                   </div>
                   <p class="">Stack: <%= err.stack  %></p> 
               </div>
           </div>
       </div>
  </div>