<% layout('/layouts/boilerplate') %>

<div class="row justify-content-center">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6">
        <!-- changing the enctype to allow files to be sent -->
        <form action="/campgrounds" method="POST" novalidate class="validatedForm" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="mb-3">
                <label for="imageInput" class="form-label">Choose Images</label>
                <input class="form-control" type="file" id="imageInput" name="image" multiple required>
              </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="image">Images</label>
                <input type="file" name="image" id="image" multiple>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div> -->
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="number" class="form-control" placeholder="0.0" aria-label="Username"
                        aria-describedby="price-label " name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks Good!
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text-area" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success my-3">Submit</button>
                    <a class="btn btn-success my-3" href="/campgrounds">Home</a>
                </div>
            </div>
        </form>
    </div>
</div>